.frontend-info-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  strong {
    color: #2980b9;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    display: inline-block;
  }
  
  li {
    font-size: 1.2em;
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
  }
  
  li:before {
    content: '•';
    position: absolute;
    left: 0;
    color: #e74c3c;
    font-size: 1.5em;
    line-height: 1em;
  }
  