<header class="header">
    <h1><a routerLink="" class="dvb-h1">{{'dvb' | uppercase}}</a></h1>
    <nav>
        <div class="left-items">
            <a routerLink="/employees">Employees</a>
            <a routerLink="/about">About</a>
            <a routerLink="/contact">Contact</a>
        </div>
        <div class="right-items">
            @if (user) {
            <a>Welcome, {{user.email}}!</a>
            <a style="cursor: pointer;" (click)="logoutUser()">Logout</a>

            }
            @else {
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
            }

        </div>

    </nav>

</header>
<p *ngIf="!!message" [ngClass]="{'error': isMessageError, 'success': !isMessageError}">{{message}}</p>