<p id="content">Game component works {{name}}!</p>

<ul #gameContainer>

    <div *ngFor="let item of items">
       <game-item-component [item]="item" [shouldPriceBePurple]="shouldPriceBePurple"></game-item-component>
    </div>

</ul>

<h2 *ngIf="isActive">shop is active</h2>

<h3>Game container length: {{gameContainer.children.length}}</h3>

<button (click)="handleClickEvent()">{{shouldPriceBePurple ? 'Make price dark' : 'Make price purple'}}</button>

<button (click)="handleShowElements(gameContainer)">show game container elements</button>


<input [(ngModel)]="text" type="text">
<p>{{text}}</p>
<br>
<input #username type="text">


<button (click)="handleShowUsername(username)">show username</button>